@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
  --section-header-title: white;

  /* --main-menu-items: rgb(177, 118, 41); */
  --main-menu-items: rgb(130, 198, 126);
  --title-font: 'Handlee', cursive;

  --menu-item-title: rgb(99, 191, 193);
  --menu-item-description: grey;
  --menu-item-price: rgb(130, 198, 126);

  --menu-sub-item-title: rgb(247, 158, 190);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  /* scroll-behavior: smooth; */
}

body {
  background-color: #e5e5e5;
  font-family: monospace;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu-title {
  text-align: center;
  min-height: calc(5vh - 1rem);
  margin-top: 1rem;
  font-size: 4rem;
  font-family: var(--title-font);
  color: rgb(99, 191, 193);
}

.menu-title.active {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: calc(50% + 5rem);
  background-color: var(--menu-item-title);
  color: white;
  padding: 1rem;
  border-radius: 1.2rem;
  width: 20rem;
  cursor: pointer;
}

.main-menu {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.main-menu ul {
  align-self: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.main-menu ul li {
  font-size: 2rem;
  text-align: center;
}

.main-menu ul li a {
  display: block;
  background-color: var(--main-menu-items);
  padding: 1rem;
  border-radius: 1rem;
  color: #e5e5e5;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.btn {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 0.1s;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  padding: 1rem;
  width: fit-content;
  height: 4rem;
  border-radius: 1rem;
  border: 1px solid lightgray;
  z-index: 99999;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.btn.active {
  opacity: 1;
}

.btn.coffee-station {
  position: relative;
  opacity: 1;
  margin: 0 auto 1rem 1rem;
  right: revert;
  background-color: var(--menu-item-title);
  color: #fff;
}

.btn.ing-ext {
  position: relative;
  opacity: 1;
  margin-top: 10px;
  right: revert;
  background-color: var(--menu-item-title);
  color: #fff;
  font-size: 1.5rem;
}

.btn i {
  display: inline;
  margin-right: 1rem;
  color: var(--menu-sub-item-title);
}

.btn span {
  color: var(--main-menu-items);
  font-family: monospace;
}

section {
  min-height: 100vh;
  /* scroll-snap-align: start; */
}

.sections {
  display: none;
}

.section-header {
  position: relative;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.section-header.active {
  height: 100vh;
  transition: 0.3s;
}

.section-header img:first-child {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.section-header .logo {
  height: 10rem;
  width: auto;
  z-index: 999;
  padding: 1rem;
  background-color: white;
  border-radius: 50%;
}

.logo.active {
  margin-bottom: 5rem;
}

.section-header h2 {
  position: absolute;
  font-family: var(--title-font);
  font-size: 4rem;
  color: var(--section-header-title);
}

.section-item {
  font-size: 1.8rem;
  color: var(--menu-item-title);
}

.section-description {
  color: var(--menu-item-description);
  font-size: 1.3rem;
}

.section-price {
  color: var(--menu-item-price);
  font-size: 1.4rem;
}

.sub-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.sub-section.one-column {
  grid-template-columns: 1fr;
}

.sub-section-title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  color: var(--menu-sub-item-title);
}

.sub-section-item {
  font-size: 1.5rem;
  color: var(--menu-item-title);
}

.sub-section-description {
  color: var(--menu-item-description);
}

.sub-section-price {
  color: var(--menu-item-price);
  font-size: 1.2rem;
}

.appetizers ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  min-height: 85vh;
  padding: 1.5rem;
  text-align: center;
  list-style-type: none;
}

.appetizers ul li {
  font-size: 1.5rem;
}

.breakfast-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  min-height: 85vh;
  place-content: center;
  padding: 1.5rem;
  gap: 0.5rem;
}

.breakfast-container .section-item {
  font-size: 1.5rem;
}

.breakfast-container .sub-section-item {
  font-size: 1rem;
}

.breakfast-container .section-description {
  font-size: 1.2rem;
}

.breakfast-container .section-price {
  font-size: 1.2rem;
}

.breakfast-container ul {
  list-style-type: none;
  height: 100%;
}

.breakfast-container ul li {
  margin-bottom: 1.5rem;
}

.especiales .section-header h2 {
  font-size: 3rem;
}

.especiales-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.especiales ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1.5rem;
  text-align: center;
  gap: 2rem;
}

.especiales-carrousel {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  overflow-x: scroll;
  padding: 1rem;
}

.especiales-carrousel img {
  width: 30%;
  object-fit: cover;
  border-radius: 1rem;
}

.ensaladas ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1.5rem;
  text-align: center;
  gap: 2rem;
  height: 85vh;
}

.ensaladas ul li > * {
  margin: 0.5rem;
}

.ensaladas .section-item {
  font-size: 2.5rem;
}

.ensaladas .section-price {
  font-size: 1.5rem;
}

.pizzas span {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  height: calc(5vh - 1rem);
  margin-top: 1rem;
  color: grey;
  padding: 0 1rem;
}

.pizzas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  min-height: 80vh;
  place-content: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

.pizzas-container ul {
  list-style-type: none;
}

.pizzas-container ul li {
  margin-bottom: 1.5rem;
}

.pizzas-container .section-description {
  font-size: 1.15rem;
  line-height: 1.3rem;
}

.calzone .section-header h2 {
  font-size: 3rem;
}

.calzone ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* min-height: 85vh; */
  max-width: 50vw;
  margin: 0 auto;
  gap: 2rem;
}

.calzone ul li {
  display: flex;
  /* text-align: center; */
  justify-content: space-between;
  width: 100%;
}

.calzone-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  max-width: 80vw;
  margin: 0 auto;
  gap: 2rem;
}

.calzone-container .items-list {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  width: 100vw;
}

.carrousel-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.carrousel-container img {
  width: 45%;
  scroll-snap-align: start;
  border-radius: 1rem;
}

.extras .section-header h2 {
  font-size: 3rem;
}

.extras-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  max-width: 80vw;
  min-height: 85vh;
  margin: 0 auto;
  text-align: center;
}

.extras-container .section-item {
  font-size: 2rem;
}

.extras-container .section-description {
  font-size: 1.5rem;
}

.pastas ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vw;
  min-height: 85vh;
  gap: 2rem;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
}

.pastas ul li > * {
  margin: 1.5rem;
}

.pastas .section-item {
  font-size: 2.5rem;
}

.bebidas-container {
  min-height: calc(85vh - 2rem);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  text-align: center;
  margin: 1rem 0;
}

.bebidas-container .bebidas-titles {
  color: var(--menu-sub-item-title);
  font-size: 2rem;
}

.bebidas-container .lemonades li {
  margin: 1rem;
}

.bebidas-container ul {
  list-style-type: none;
  /* text-align: center; */
}

.bebidas-container .section-item h4 {
  margin: 1rem;
  font-weight: 400;
}

.cafe {
  background-color: #ffc0cb40;
}

.cafe-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.cafe-container ul {
  list-style-type: none;
  text-align: center;
}

.cafe-container ul li {
  margin: 0.5rem;
}

.cafe-container .cafe-titles {
  color: var(--menu-sub-item-title);
  font-size: 2rem;
  text-align: center;
}

.coffee-flavors .section-item {
  font-weight: 400;
}

.station-coffee {
  background-color: #ffc0cb40;
}

.station-coffee-container .cafe-titles {
  color: var(--menu-sub-item-title);
  font-size: 2rem;
  text-align: center;
}

.station-coffee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  min-height: 85vh;
  padding: 1rem 0;
}

.station-coffee-container ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 2rem;
}

.station-coffee-container ul li {
  display: flex;
  justify-content: space-between;
  width: calc(50% - 1rem);
}

.station-coffee-container .frapp .section-item {
  font-weight: 400;
}

.station-coffee-container .section-price {
  text-align: center;
  font-size: 1.7rem;
}

.station-coffee-container .section-description {
  text-align: center;
}

.postres {
  background-color: #ffc0cb40;
}

.postres-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 100vw;
  margin: 0 auto;
  min-height: 85vh;
}

.postres-container ul {
  min-height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.postres-container ul li {
  margin: 1rem;
  text-align: center;
}

.postres-container ul li > * {
  margin: 0.5rem;
}

.postres-container .section-item {
  color: var(--menu-sub-item-title);
}

.postres-container .section-price {
  color: var(--menu-item-title);
}
